<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменить данные врача</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:href="@{/webjars//font-awesome/css/all.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/img/icon.png}" />
</head>
<body>
<main>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" th:href="@{/uzi/listTodayOrders}"><img th:src="@{/img/logo.png}" height="40" width="80"></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUzi" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-laptop fa-lg"></span> УЗИ</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownUzi">
                            <a class="dropdown-item" th:href="@{/uzi/listTodayOrders}">Записи УЗИ</a>
                            <a class="dropdown-item" th:href="@{/uzi/listProducts}">Список услуг УЗИ</a>
                        </div>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="#">
                        <span class="fa fa-thermometer fa-lg"></span> Процедурный кабинет</a></li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCons" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-users fa-lg"></span> Консультация</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownCons">
                            <a class="dropdown-item" th:href="@{/cons/listTodayOrders}">Записи консультаций</a>
                            <a class="dropdown-item" th:href="@{/cons/listDoctors}">Список врачей</a>
                        </div>
                    </li>
                    <li th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-calculator fa-lg"></span> Статистика</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/cons/showPeriodStats}">Консультации</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/uzi/listCurrentWeekSalary}">Недельная зарплата врачей</a>
                            <a class="dropdown-item" th:href="@{/uzi/showSalariesBetweenDatesForm}">Зарплата врачей по датам</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/uzi/showDetailsOfOrderList}">Статистика по дням</a>
                            <a class="dropdown-item" th:href="@{/uzi/showDetailsOfOrderListMonthly}">Статистика по периодам</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/uzi/showSortByDateForm}">Записи узи по датам</a>
                        </div>
                    </li>
                </ul>
            </div>
            <form th:action="@{/logout}" method="POST">
                <button type="submit" class="btn btn-sm">
                    <span class="fa fa-sign-out-alt"></span> Выйти
                </button>
            </form>
        </div>
    </nav>

    <br>

    <div class="container">
        <h1>Изменить данные врача</h1>
        <hr>
        <form id="reused_form" role="form" action="#" th:action="@{/cons/saveDoctor}"
              th:object="${theDoctor}" method="POST">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label> Имя:</label>
                <input placeholder="Имя" th:field="*{name}" type="text" class="form-control" required maxlength="50">
            </div>
            <div class="form-group">
                <label> Стоимость первичной консультации:</label>
                <input placeholder="Первичная" th:field="*{firstCons}" type="number" class="form-control" required maxlength="50">
            </div>
            <div class="form-group">
                <label> Стоимость повторной консультации:</label>
                <input placeholder="Повторная" th:field="*{repCons}" type="number" class="form-control" required maxlength="50">
            </div>
            <div class="form-group">
                <label> Остается клинике:</label>
                <input placeholder="Остается" th:field="*{forClinic}" type="number" class="form-control" required maxlength="50">
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-success btn-block" >Изменить</button>
        </form>
    </div>
</main>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('dropdown-toggle').dropdown()
});
</script>
</body>
</html>