<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Patients</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
    <link th:href="@{/webjars//font-awesome/5.12.0/css/all.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<main>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" th:href="@{/uzi/listTodayOrders}"><img th:src="@{/img/logo.png}" height="40" width="80"></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/uzi/listTodayOrders}"><span
                            class="fa fa-laptop fa-lg"></span> УЗИ</a></li>
                    <li class="nav-item"><a class="nav-link" href="./procedure.html"><span
                            class="fa fa-thermometer fa-lg"></span> Процедурный кабинет</a></li>
                    <li class="nav-item"><a class="nav-link" href="./contactus.html"><span class="fa fa-users fa-lg"></span>
                        Консультация</a></li>
                    <li class="nav-item active"><a class="nav-link" th:href="@{/uzi/listCurrentWeekSalary}"><span
                            class="fas fa-calculator fa-lg"></span> Статистика</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br>

    <div class="container">
        <h1>Edit Patient</h1>
        <hr>
        <form action="#" th:action="@{/uzi/savePatient}" th:object="${thePatient}" method="POST">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label> Patient Name:</label>
                <input placeholder="Patient Name" th:field="*{patientName}" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label> Doctor Name:</label>
                <input placeholder="Doctor Name" th:field="*{doctorName}" type="text" class="form-control">
            </div>
            <ul>
                <li th:each="product : ${theListOfProduct}">
                    <input type="checkbox" th:field="*{productList}" th:value="${product.code}"/>
                    <label th:text="${product}"></label>
                </li>
            </ul>
            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>
    </div>
</main>

<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popperjs__core/2.9.2/dist/umd/popper.min.js}" ></script>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}" ></script>
</body>
</html>