<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Список исследований</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:href="@{/webjars//font-awesome/css/all.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/img/icon.png}" />
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" th:href="@{/uzi/listTodayOrders}"><img th:src="@{/img/logo.png}" height="40" width="80"></a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUzi" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-laptop fa-lg"></span> УЗИ</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUzi">
                        <a class="dropdown-item" th:href="@{/uzi/listTodayOrders}">Записи УЗИ</a>
                        <a class="dropdown-item" href="#">Список услуг УЗИ</a>
                    </div>
                </li>

                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTreat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-thermometer fa-lg"></span> Процедурный кабинет</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownTreat">
                        <a class="dropdown-item" th:href="@{/trt/listAllPatients}">Все пациенты</a>
                        <a class="dropdown-item" th:href="@{/trt/listActivePatients}">Действующие пациенты</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/trt/listTreatments}">Список лечений</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCons" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-users fa-lg"></span> Консультация</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCons">
                        <a class="dropdown-item" th:href="@{/cons/listTodayOrders}">Записи консультаций</a>
                        <a class="dropdown-item" th:href="@{/cons/listDoctors}">Список врачей</a>
                    </div>
                </li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-calculator fa-lg"></span> Статистика</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/uzi/listCurrentWeekSalary}">Недельная зарплата врачей УЗИ</a>
                        <a class="dropdown-item" th:href="@{/uzi/showSalariesBetweenDatesForm}">Зарплата врачей по датам УЗИ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/uzi/showDetailsOfOrderList}">Статистика по дням УЗИ</a>
                        <a class="dropdown-item" th:href="@{/uzi/showDetailsOfOrderListMonthly}">Статистика по периодам УЗИ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/uzi/showSortByDateForm}">Записи УЗИ по датам</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/cons/showPeriodStats}">Статистика консультаций</a>
                        <a class="dropdown-item" th:href="@{/cons/listCurrentWeekConsultations}">Записи консультаций по неделям</a>
                        <a class="dropdown-item" th:href="@{/cons/showSortByDateForm}">Записи консультаций</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/trtstats/showDetailsOfTreatmentListMonthly}">Статистика процедурный кабинет</a>
                    </div>
                </li>
            </ul>
        </div>
        <form th:action="@{/logout}" method="POST">
            <button type="submit" class="btn btn-sm">
                <span class="fa fa-sign-out-alt"></span> Выйти
            </button>
        </form>
    </div>
</nav>

<br>

<div class="container">
    <h1>Список исследований</h1>
    <hr>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Наим-е иссл-я</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempProduct: ${theListOfProduct}">
            <td th:text="${tempProduct.name}"/>
            <td th:text="${tempProduct.price}"/>
            <td th:text="${tempProduct.createDate}"/>
            <td>
                <a th:href="@{/uzi/showFormForEditProduct(productCode=${tempProduct.code})}"
                   class="btn btn-info btn-sm">Изменить</a>
                <a th:href="@{/uzi/deleteProduct(productCode=${tempProduct.code})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are your sure want to delete the Product?'))) return false">Удалить</a>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="container-box rotated">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
            Добавить исследование
        </button>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Добавить исследование
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="reused_form" role="form" action="#" th:action="@{/uzi/addProduct}"
                          th:object="${theProduct}" method="POST">
                        <input type="hidden" th:field="*{code}"/>
                        <input type="hidden" th:field="*{frequency}" />
                        <div class="form-group">
                            <label> Называние:</label>
                            <input placeholder="Название" th:field="*{name}" type="text" class="form-control" required maxlength="50">
                        </div>
                        <div class="form-group">
                            <label> Стоимость:</label>
                            <input placeholder="Стоимость" th:field="*{price}" type="number" class="form-control" required maxlength="50">
                        </div>
                        <button type="submit" class="btn btn-lg btn-success btn-block" >Сохранить</button>
                    </form>
                    <div id="success_message" style="width:100%; height:100%; display:none; "><h3>Saved
                        successfully!</h3></div>
                    <div id="error_message" style="width:100%; height:100%; display:none; "><h3>Error</h3> Error occurred while saving
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('dropdown-toggle').dropdown()
});
</script>
<script>
$(function()
{
    function after_form_submitted(data)
    {
        if(data.result == 'success')
        {
            $('form#reused_form').hide();
            $('#success_message').show();
            $('#error_message').hide();
        }
        else
        {
            $('#error_message').append('<ul></ul>');

            jQuery.each(data.errors,function(key,val)
            {
                $('#error_message ul').append('<li>'+key+':'+val+'</li>');
            });
            $('#success_message').hide();
            $('#error_message').show();

            //reverse the response on the button
            $('button[type="button"]', $form).each(function()
            {
                $btn = $(this);
                label = $btn.prop('orig_label');
                if(label)
                {
                    $btn.prop('type','submit' );
                    $btn.text(label);
                    $btn.prop('orig_label','');
                }
            });

        }//else
    }
});
</script>
</body>

</html>