<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Отчет по периодам</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:href="@{/webjars//font-awesome/css/all.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/img/icon.png}" />
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" th:href="@{/uzi/listTodayOrders}"><img th:src="@{/img/logo.png}" height="40" width="80"></a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUzi" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-laptop fa-lg"></span> УЗИ</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUzi">
                        <a class="dropdown-item" th:href="@{/uzi/listTodayOrders}">Записи УЗИ</a>
                        <a class="dropdown-item" th:href="@{/uzi/listProducts}">Список услуг УЗИ</a>
                    </div>
                </li>

                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTreat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-thermometer fa-lg"></span> Процедурный кабинет</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownTreat">
                        <a class="dropdown-item" th:href="@{/trt/listAllPatients}">Все пациенты</a>
                        <a class="dropdown-item" th:href="@{/trt/listActivePatients}">Действующие пациенты</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/trt/listTreatments}">Список лечений</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCons" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-users fa-lg"></span> Консультация</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCons">
                        <a class="dropdown-item" th:href="@{/cons/listTodayOrders}">Записи консультаций</a>
                        <a class="dropdown-item" th:href="@{/cons/listDoctors}">Список врачей</a>
                    </div>
                </li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}" class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-calculator fa-lg"></span> Статистика</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/uzi/listCurrentWeekSalary}">Недельная зарплата врачей УЗИ</a>
                        <a class="dropdown-item" th:href="@{/uzi/showSalariesBetweenDatesForm}">Зарплата врачей по датам УЗИ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/uzi/showDetailsOfOrderList}">Статистика по дням УЗИ</a>
                        <a class="dropdown-item" href="#">Статистика по периодам УЗИ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/uzi/showSortByDateForm}">Записи УЗИ по датам</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/cons/showPeriodStats}">Статистика консультаций</a>
                        <a class="dropdown-item" th:href="@{/cons/listCurrentWeekConsultations}">Записи консультаций по неделям</a>
                        <a class="dropdown-item" th:href="@{/cons/showSortByDateForm}">Записи консультаций</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/trtstats/showDetailsOfTreatmentListMonthly}">Статистика процедурный кабинет</a>
                    </div>
                </li>
            </ul>
        </div>
        <form th:action="@{/logout}" method="POST">
            <button type="submit" class="btn btn-sm">
                <span class="fa fa-sign-out-alt"></span> Выйти
            </button>
        </form>
    </div>
</nav>

<br>
<div class="container">
    <div class="text-center">
        <h1>Детали обеследований за
            <br>
            <label th:text="${#calendars.format(firstDay, 'dd MMM yyyy')}"/> -
            <label th:text="${#calendars.format(lastDay, 'dd MMM yyyy')}"/>
        </h1>
        <hr>
        <a th:href="@{/uzi/showDetailsOfOrderListMonthly(periodAdd=0, period=${'month'})}"
           class="btn btn-info btn-sm">Показать статистику по месяцам</a>

        <a th:href="@{/uzi/showDetailsOfOrderListMonthly(periodAdd=0, period=${'year'})}"
           class="btn btn-info btn-sm">Показать статистику по годам</a>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="provider-table member-portal-claim col-sm-offset-1">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="background-blue">
                            <th th:text="${periodTitles[0]}"/>
                            <th>Общая сумма</th>
                            <th>Прибыль</th>
                            <th>К-во пац.</th>
                            <th>Самое дорогое обсл.</th>
                            <th>Сред. стоим. обсл </th>
                            <th>Больше всего напр.</th>
                            <th>Самое частое иссл.</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:object="${totalPeriodStats}">
                            <td th:text="${periodName}"/>
                            <td th:text="${totalPeriodStats.totalSum}"/>
                            <td th:text="${totalPeriodStats.uziTotalSum}"/>
                            <td th:text="${totalPeriodStats.totalPatients}"/>
                            <td th:text="${totalPeriodStats.maxOrder}"/>
                            <td th:text="${totalPeriodStats.averageOrder}"/>
                            <td th:text="${totalPeriodStats.mostFrequentDoctor}"/>
                            <td th:text="${totalPeriodStats.mostFrequentProduct}"/>
                            <td class="show-details"><i class="fas fa-angle-down"></i></td>
                        </tr>
                        <tr class="hideRow">
                            <td colspan="11">
                                <label>Details</label>

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover member-portal-table" rules="all">
                                        <!--Start of the nested table-->
                                        <thead>
                                        <tr class="background-blue">
                                            <th th:text="${periodTitles[1]}"/>
                                            <th>Общая сумма</th>
                                            <th>Прибыль</th>
                                            <th>К-во пац.</th>
                                            <th>Самое дорогое обсл.</th>
                                            <th>Сред. стоим. обсл </th>
                                            <th>Больше всего напр.</th>
                                            <th>Самое частое иссл.</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="currentPeriodStat: ${stats}">
                                        <tr>
                                            <td th:text="${currentPeriodStat.periodName}"/>
                                            <td th:text="${currentPeriodStat.periodTotalStats.totalSum}"/>
                                            <td th:text="${currentPeriodStat.periodTotalStats.uziTotalSum}"/>
                                            <td th:text="${currentPeriodStat.periodTotalStats.totalPatients}"/>
                                            <td th:text="${currentPeriodStat.periodTotalStats.maxOrder}"/>
                                            <td th:text="${currentPeriodStat.periodTotalStats.averageOrder}"/>
                                            <td th:text="${currentPeriodStat.periodTotalStats.mostFrequentDoctor}"/>
                                            <td th:text="${currentPeriodStat.periodTotalStats.mostFrequentProduct}"/>
                                            <td class="show-details"><i class="fas fa-angle-down"></i></td>
                                        </tr>
                                        <tr class="hideRow">
                                            <td colspan="11">
                                                <label>Details</label>

                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover member-portal-table" rules="all">
                                                        <!--Start of the nested table-->
                                                        <thead>
                                                        <tr class="background-blue">
                                                            <th th:text="${periodTitles[2]}"/>
                                                            <th>Общая сумма</th>
                                                            <th>Прибыль</th>
                                                            <th>К-во пац.</th>
                                                            <th>Самое дорогое обсл.</th>
                                                            <th>Сред. стоим. обсл </th>
                                                            <th>Больше всего напр.</th>
                                                            <th>Самое частое иссл.</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="currentSubPeriodStat: ${currentPeriodStat.periodStatsDetails}">
                                                            <td th:text="${currentSubPeriodStat.key}"/>
                                                            <td th:text="${currentSubPeriodStat.value.totalSum}"/>
                                                            <td th:text="${currentSubPeriodStat.value.uziTotalSum}"/>
                                                            <td th:text="${currentSubPeriodStat.value.totalPatients}"/>
                                                            <td th:text="${currentSubPeriodStat.value.maxOrder}"/>
                                                            <td th:text="${currentSubPeriodStat.value.averageOrder}"/>
                                                            <td th:text="${currentSubPeriodStat.value.mostFrequentDoctor}"/>
                                                            <td th:text="${currentSubPeriodStat.value.mostFrequentProduct}"/>
                                                            <td></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 d-flex justify-content-around">
    <div>
        <a th:href="@{/uzi/showDetailsOfOrderListMonthly(periodAdd=${periodAdd}-1, period=${period})}"
           class="btn btn-info btn-sm">Предыдущий</a>
    </div>
    <div>
        <a th:href="@{/uzi/showDetailsOfOrderListMonthly(periodAdd=${periodAdd}+1, period=${period})}"
           class="btn btn-info btn-sm">Следующий</a>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('dropdown-toggle').dropdown()
    });
    </script>
<script>
        $(window).ready(function() {
            $('.show-details').each(function() {
                $(this).parent('tr').next().fadeOut(700);
                $(this).removeClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
            });
            });
</script>
<script>
$(function() {
  $('.show-details').click(
    function() {
      if (!$(this).hasClass('panel-collapsed')) {
        $(this).parent('tr').next().fadeIn(700);
        $(this).addClass('panel-collapsed');
        $(this).find('i').removeClass('fa-angle-down').addClass('fa-angle-up');
      } else {
        $(this).parent('tr').next().fadeOut(700);
        $(this).removeClass('panel-collapsed');
        $(this).find('i').removeClass('fa-angle-up').addClass('fa-angle-down');
      }
    }
  );
});
</script>
<script>
$(document).ready(function(){
    $("#myButton").click(function(){
        $(this).button('toggle');
    });
});

$(document).ready(function(){
    var value = "[[${period}]]";
    var monthButton = document.getElementById("monthStats");
    var yearButton = document.getElementById("yearStats");

    if(value === "month")
    {
        monthButton.checked = true;
        yearButton.checked = false;

    }
    else if($value === "year")
    {
        yearButton.checked = true;
        monthButton.checked = false;
        alert("year");
    }
    alert(value);
});
</script>
</body>
</html>